@charset "UTF-8";

.zen-kaku-gothic-new-light {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.zen-kaku-gothic-new-regular {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.zen-kaku-gothic-new-medium {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 500;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-weight: 300;
    box-sizing: border-box;
}

img {
    width: auto;
    height: 100%;
}

body {
    font-family: "Zen Kaku Gothic New", sans-serif;
}

h1 {
    font-size: min(48px, calc((48 / 1920)*100vw));
    font-weight: 500;
    letter-spacing: .8em;
    line-height: calc((135 / 1920)*100vw);
}

h2 {
    font-size: min(36px, calc((36 / 1920)*100vw));
    font-weight: 500;
    letter-spacing: 20%;
    line-height: calc((135 / 1920)*100vw);
    text-align: center;
}

h3 {
    font-size: min(40px, calc((40 / 1920)*100vw));
    font-weight: 500;
    letter-spacing: 25%;
    line-height: calc((80 / 1920)*100vw);
}

h4 {
    font-size: min(32px, calc((32 / 1920)*100vw));
    font-weight: 400;
    letter-spacing: 25%;
    line-height: calc((80 / 1920)*100vw);
    text-align: center;
}

h5 {
    color: #ffffff;
    font-size: min(24px, calc((24 / 1920)*100vw));
    font-weight: 400;
    letter-spacing: 10%;
    line-height: calc((80 / 1920)*100vw);
    text-align: center;
}

h6 {
    font-size: min(20px, calc((20 / 1920)*100vw));
    font-weight: 400;
    letter-spacing: 20%;
    line-height: calc((60 / 1920)*100vw);
}

a,
a:visited {
    color: black;
}

a:hover {
    color: #c9970d;
}

a:active {
    color: #586AA8;
}

/* header */

.menu {
    background-color: #fff;
    width: 100%;
    aspect-ratio: 64 / 5;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 3;
}

.menu_top {
    position: relative;
    margin: 0 0 0 calc((108 / 1920)*100vw);
}

ul {
    position: absolute;
    right: calc((107 / 1920)*100vw);
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: calc((112 / 1920)*100vw);
}

/* body */

main {
    margin: calc((150 / 1920)*100vw) 0 0;
}

#mainvisual::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/webfolio_main_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    transform: scaleY(-1);
    border-radius: 0 calc((1080 / 1920)*100vh) 0 0;
    z-index: -2;
}

#mainvisual {
    position: relative;
    aspect-ratio: 16 / 9;
}

.mainvisual_content {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
}

.maintitle {
    position: relative;
    padding: 0 0 0 calc((108 / 1920)*100%);
}

.mainicon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: calc((508 / 1080)*100%);
    max-height: 508px;
    z-index: -1;
    border-radius: 50%;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
}

.mainicon img {
    border-radius: 50%;
    /* border-style: solid;
    border-color: #ffffff; */
    padding: .5em;
    box-sizing: border-box;
}

.scroll {
    position: absolute;
    right: calc((80 / 1920)*100%);
    bottom: calc((100 / 1087)*100%);
    z-index: 1;
}

.scroll::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: #000000;
    border-width: 0;
    border-left-width: .05em;
    height: calc((250 / 1920)*100vw);
    top: 100%;
    left: 50%;
}

@media only screen and (max-width: 767px) {
    .mainicon {
        border-width: .1px;
    }

    h1 {
        letter-spacing: .6em;
    }
}

.welcome {
    position: relative;
    background-color: #fff;
    width: 90%;
    margin: 0 auto;
}

.welcome_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc((163 / 1920)*100vw);
    width: 100%;
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
    padding: calc((390 / 1920)*100vw) 0;
}

.welcome h1 {
    letter-spacing: 40%;
}

#works {
    position: relative;
    background-image: url(images/webforlio_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.works_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc((120 / 1920)*100vw);
    padding: calc((250 / 1920)*100vw) 0;
    width: 90%;
    margin: 0 auto;
}

.works_content h1 {
    color: #ffffff;
}

.works_container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: calc((100 / 1920)*100vw);
    column-gap: calc((40 / 1920)*100vw);
    justify-items: center;
}

.works_container_part {
    display: flex;
    flex-direction: column;
}

.works_container_part img {
    width: calc((844 / 1920)*100vw);
    aspect-ratio: 4 / 3;
    background-color: #fff;
    border-radius: calc((80 / 1920)*100vw);
}

.information {
    display: flex;
    margin: calc((44 / 1920)*100vw) 0 0;
}

.genre {
    background-color: #586AA8;
    padding: 0 calc((34 / 1920)*100vw);
    align-content: center;
    border-radius: 80px;
    margin: 0 calc((40 / 1920)*100vw) 0 calc((34 / 1920)*100vw);
}

.category {
    display: flex;
}

.add_line::after {
    content: "|";
    margin: 0 calc((25 / 1920)*100vw);
}

.viewmore {
    position: relative;
    padding: 0 calc((62 / 1920)*100vw);
    border-style: solid;
    border-width: .05em;
    border-radius: 104px;
}

.viewmore::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: #fff;
    border-width: 0;
    border-top-width: .05em;
    width: calc((200 / 1920)*100vw);
    top: 50%;
    transform: translateX(calc((30 / 1920)*100vw));
}

#about {
    padding: calc((250 / 1920)*100vw) 0 calc((465 / 1920)*100vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc((187 / 1920)*100vw);
    width: 90%;
    margin: 0 auto;
}

.me {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calc((60 /1920)*100vw);
}

.me img {
    width: calc((460 / 1920)*100vw);
    aspect-ratio: 23 / 31;
    border-style: solid;
    border-color: #000000;
    border-width: .05em;
    border-top-right-radius: 460px;
    border-top-left-radius: 460px;
}

.lefttext {
    text-align: end;
    display: flex;
    flex-direction: column;
    gap: calc((60 /1920)*100vw);
}

.righttext {
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: calc((60 /1920)*100vw);
}

#contact {
    position: relative;
    background-color: #F6F6F6;
    padding: calc((250 / 1920)*100vw) 0;
    width: 90%;
    margin: 0 auto calc((120 /1920)*100vw);
}

#contact h1 {
    text-align: center;
}

.contact_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    row-gap: 62px;
    column-gap: calc((50 / 1920)*100vw);
    padding: 0 calc((150 / 1920)*100vw) 0 calc((50 / 1920)*100vw);
    position: relative;
    width: 80%;
    margin: 0 auto;
    z-index: 0;
}

#contact h1 {
    margin: 0 0 calc((100 / 1920)*100vw);
}

#contact h4 {
    text-align: start;
}

.contact_category h4 {
    text-align: end;

}

.contact_link h4 {
    width: fit-content;
    background-color: #F6F6F6;
}

.brank {
    content: "";
    height: calc((300/1920)*100vw);
}

.contact_lines {
    position: absolute;
    right: 20%;
    display: flex;
    flex-direction: column;
    gap: calc((76 / 1920)*100vw);
    z-index: -1;
}

.contact_line {
    content: "";
    border-style: solid;
    border-color: #000000;
    border-width: 0;
    border-top-width: .05em;
    width: calc((400 / 1920)*100vw);
}

.contact_line::after {
    content: "";
    background-color: #000000;
    display: inline-block;
    position: absolute;
    right: 0;
    margin: -1px 0 0;
    height: .1em;
    width: .1em;
    border-radius: 50%;
}

.contact_lines .brank {
    height: calc((230 / 1920)*100vw);
}

#contact h2 {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-57%, -50%);
}

footer {
    padding: calc((240 / 1920)*100vw) 0 calc((200 / 1920)*100vw);
    background-color: #DDD;
    position: relative;
}

footer::before {
    content: "";
    border-style: solid;
    border-color: #000000;
    border-width: 0;
    border-top-width: .05em;
    width: calc((1700 / 1920)*100vw);
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.footer_container {
    display: flex;
    flex-direction: column;
    gap: calc((80 / 1920)*100vw);
    align-items: start;
    margin: 0 0 0 calc((85 / 1920)*100vw);
}