@charset "UTF-8";

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

html {
  font-size:62.5%;
}
body {
  font-size:1.4rem;
}
*, *::before, *::after {
  box-sizing:border-box;
}
.clearfix::after {
  content:'';
  display:block;
  clear:both;
}

.view_pc {
  display: block;
}
.view_sp {
  display: none;
}

.pc {
  display: inline-block;
}
.sp {
  display: none;
}

@media screen and (max-width: 768px) {
  .view_pc {
    display: none;
  }
  .view_sp {
    display: block;
  }

  .pc {
    display: none;
  }
  .sp {
    display: inline-block;
  }
}